@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url(e:\Software Development\VSCode Projecten\Oefening To Do App\css\icon\style.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #eef3f6;
}

.todoApp {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}

.todoApp__form {
  background-color: #19ba99;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 2px 2px #c5c4c4);
          filter: drop-shadow(0px 2px 2px #c5c4c4);
}

.todoApp__form__input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px 35px 35px 5px;
  padding: 25px;
  padding-right: 82px;
  color: #fff;
  outline: none;
}

.todoApp__form__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 19px;
}

.todoApp__form__input:-ms-input-placeholder {
  color: #fff;
  font-size: 19px;
}

.todoApp__form__input::-ms-input-placeholder {
  color: #fff;
  font-size: 19px;
}

.todoApp__form__input::placeholder {
  color: #fff;
  font-size: 19px;
}

.todoApp__form__button {
  font-weight: 300;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  text-decoration: none;
  color: #19ba99;
  background-color: #fff;
  border-radius: 50%;
  padding: 14px 23px;
}

.todoApp__list {
  padding: 20px;
  margin-right: auto;
}

.todoApp__list__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  -webkit-filter: drop-shadow(0px 2px 2px #c5c4c4);
          filter: drop-shadow(0px 2px 2px #c5c4c4);
}

.todoApp__list__item--checked {
  text-decoration: line-through;
  -webkit-text-decoration-color: #19ba99;
          text-decoration-color: #19ba99;
}

.todoApp__list__item .text {
  margin-right: auto;
  color: #000;
  padding: 25px;
}

.todoApp__list__item a.icona {
  font-size: 30px;
  color: #cbd5d2;
}

.todoApp__list__item a.icona--remove:hover {
  color: red;
}

.todoApp__list__item a.icona--check {
  margin-right: 22px;
  margin-left: 39px;
  color: #19ba99;
}

.todoApp__list__item::after {
  content: "";
  position: absolute;
  right: 70px;
  height: 40px;
  border-left: 2px solid #eef3f6;
}
/*# sourceMappingURL=styles.css.map */